{% extends 'navbar.html' %}
{% block content %}
<a class="btn border border-dark mt-3 col-md-1 mx-2 container-fluid text-center" href="view" role="button">Back</a>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 offset-2 mx-auto">
            <h4 class="alert alert-info mt-4 text-center" >Updated information</h4>
            {% include 'messages.html' %}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" href="/view/" class="btn btn-success mt-3 container-fluid text-center" value="Update">
                <br>
                <a class="btn btn-success mt-3 mb-3 container-fluid text-center" href="/view/" role="button">View</a>
            </form>
        </div>
    </div>
</div>
    {% endblock content %}